@using eShop.WebAppComponents.Item
@using System

@inject IProductImageUrlProvider ProductImages

<div class="catalog-item">
    <a class="catalog-product" href="@ItemHelper.Url(Item)" data-enhance-nav="false">
        <span class='catalog-product-image'>
            <img alt="@Item.Name" src='@ProductImages.GetProductImageUrl(Item)' />
        </span>
        <span class='catalog-product-content'>
            <span class='name'>@Item.Name</span>
            <span class='price'>@discount(@Item.Price).ToString("0.00") <s>@Item.Price.ToString("0.00")</s></span>
            <span class='rating'>@Rating</span>
        </span>
    </a>
</div>

@code {
    [Parameter, EditorRequired]
    public required CatalogItem Item { get; set; }

    [Parameter]
    public bool IsLoggedIn { get; set; }

    public decimal discount(decimal price)
    {
        return price - (price * 0.20m);
    }

    public string Rating = "☆☆★";

    protected override void OnInitialized()
    {
        Random random = new Random();
        int r = random.Next(0, 6);

        string fullStar = "★";
        string emptyStar = "☆";

        string result = "";
        for(int j = 0; j < 5 - r; j++) {
            result = emptyStar + result;
        }
        for(int i = 0; i < r; i++) {
            result = fullStar + result;
        }
        Rating = result;
    }
}
